
@{
    ViewData["Title"] = "Indexpage5";
}


<head>

    <link href="~/css/Theater/電影院用改.css" rel="stylesheet" />
    <style>
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }

        a.my-no {
            color: rgb(180, 180, 180);
        }

            a .my-no:active {
                color: rgb(180, 180, 180);
            }

            a.my-no:link {
                color: rgb(180, 180, 180);
            }

            a.my-no:visited {
                color: rgb(180, 180, 180);
            }
    </style>
</head>

<div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoContentWrapper--1tebbv1 exLSHN gYprgf">
    <div class="wrapper">
        <div class="tab checked">
            @Html.ActionLink("現正熱映", "Index", "Theater", null, new { @class = "my-class" })

        </div>
        <div class="tab">
            @Html.ActionLink("即將上映", "即將上映page1", "Theater", null, new { @class = "my-class" })
        </div>
        <div class="underline">
            <div class="bar"></div>
        </div>
    </div>
    <div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoBoxWrapper--13nahzv exLSHN bYVeqc">
        <div class="box-wrapper">
            <a href="/movieInfo?movieid=0fcd9fe516034a91a822aa0f8c878a67&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fijp21439866_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="我想被高中女生殺死">
                        我想被高中女生殺死
                    </div>
                    <div class="en" title="I Want to Be Killed by a High School Girl">
                        I Want to Be Killed by a High School Girl
                    </div>
                    <div class="grade">
                        輔12級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=c681434b5b7d4f8c8f318894c9678379&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fmch63062320_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="尋找背海的人">
                        尋找背海的人
                    </div>
                    <div class="en" title="The Man behind the Book">
                        The Man behind the Book
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=209b82161d5748169f94996c8375686e&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fbtw24302050_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="舞徑">
                        舞徑
                    </div>
                    <div class="en" title="Ballet in Tandem">
                        Ballet in Tandem
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=8aeea08d55214d7ea859173d6a23f0ec&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fden98912936_0004.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star FaStarHalf" style="background-image: url('../../images/Theater/star/07_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="DC超級寵物軍團">
                        DC超級寵物軍團
                    </div>
                    <div class="en" title="DC League of Super-Pets">
                        DC League of Super-Pets
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=ea79e3d67bec4dd6acaf9f7f25f50cd8&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_feen40338013_0009.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/color_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="王牌冤家">
                        王牌冤家
                    </div>
                    <div class="en" title="Eternal Sunshine of the Spotless Mind">
                        Eternal Sunshine of the Spotless Mind
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=92ded2366ea1477fb4a0a5cb2394a8c4&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fmjp91566528_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="劇場版超時空要塞F~戀離飛翼">
                        劇場版超時空要塞F~戀離飛翼
                    </div>
                    <div class="en" title="Macross Frontier: The Wings of Farewell">
                        Macross Frontier: The Wings of Farewell
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=aa93b1e3d8434a81b40b1c25ca1f8a17&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fxatm0864063_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="流金歲月">
                        流金歲月
                    </div>
                    <div class="en" title="Last Romance">
                        Last Romance
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=6d2d78b39c9f472590c56e38c7f1055e&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fmjp19850394_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="萌男友是柑橘色">
                        萌男友是柑橘色
                    </div>
                    <div class="en" title="My Boyfriend in Orange">
                        My Boyfriend in Orange
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=c2a44f250dc54007ac70d42c1e3da56f&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fmen92187804_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="喜悅：達賴喇嘛遇見屠圖主教">
                        喜悅：達賴喇嘛遇見屠圖主教
                    </div>
                    <div class="en" title="Mission: Joy - Finding Happiness in Troubled Times">
                        Mission: Joy - Finding Happiness in Troubled Times
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=7a2c1b7da19e4ed299c8d69191c04ea1&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_faatm0855022_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="玫瑰的故事">
                        玫瑰的故事
                    </div>
                    <div class="en" title="Rose">
                        Rose
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=cc7286cc9be54698b848127af296d876&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fhtw43330075_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="他還年輕">
                        他還年輕
                    </div>
                    <div class="en" title="He's Still Young">
                        He's Still Young
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=87da539f57ad410a8045132b739f3cb9&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fwjp77158332_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="star">
                        <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ">
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                            <div class="star" style="background-image: url('../../images/Theater/star/black_star.svg');"></div>
                        </div>
                    </div>
                    <div class="title" title="極道主夫電影版">
                        極道主夫電影版
                    </div>
                    <div class="en" title="The Way of the Househusband The Cinema">
                        The Way of the Househusband The Cinema
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a>
            <div class="page">
                <div class="commonStyled__ChangePagesWrapper-sc-kt5vy-7 ffVUQI">
                    <div class="circle">
                        <a href="@Url.Action("Index", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon0.svg"> </a>

                    </div>
                    <div class="circle">

                        <a href="@Url.Action("Indexpage4", "Theater")" class="my-no">
                            <img src="~/images/Theater/common/changepage-icon1.svg">
                        </a>

                    </div>
                    <div class="circle numIndex">
                        @Html.ActionLink("1", "Index", "Theater", null, new { @class = "my-no" })
                    </div>
                    <div class="circle numIndex">
                        @Html.ActionLink("2", "Indexpage2", "Theater", null, new { @class = "my-no" })
                    </div>
                    <div class="circle numIndex">
                        @Html.ActionLink("3", "Indexpage3", "Theater", null, new { @class = "my-no" })
                    </div>
                    <div class="circle numIndex ">
                        @Html.ActionLink("4", "Indexpage3", "Theater", null, new { @class = "my-no" })
                    </div>
                    <div class="circle numIndex add">
                        5
                    </div>
                    <div class="circle nowIndex1"><img src="Static/common/changepage-icon.svg"></div>
                    <div class="circle nowIndex1"><img src="Static/common/caret-up.svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> @*footer樣式*@