
@{
    ViewData["Title"] = "即將上映page2";
}

<head>

    <link href="~/css/Theater/電影院用改.css" rel="stylesheet" />
    <style>
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }

        a.my-no {
            color: rgb(180, 180, 180);
        }

            a .my-no:active {
                color: rgb(180, 180, 180);
            }

            a.my-no:link {
                color: rgb(180, 180, 180);
            }

            a.my-no:visited {
                color: rgb(180, 180, 180);
            }
    </style>
</head>



<body>



    <div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoContentWrapper--1tebbv1 exLSHN iyFFWC">
        <div class="wrapper">
            <div class="tab">
                @Html.ActionLink("現正熱映", "Index", "Theater", null, new { @class = "my-class" })
            </div>
            <div class="tab checked">
                @Html.ActionLink("即將上映", "即將上映page1", "Theater", null, new { @class = "my-class" })
            </div>
            <div class="underline">
                <div class="bar"></div>
            </div>
        </div>
        <div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoBoxWrapper--13nahzv exLSHN bYVeqc">
            <div class="box-wrapper">
                <a href="/movieInfo?movieid=2611a1ab16f24f26ae495dbcd814de75&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fmvi21210720_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-07</span>
                        </div>
                        <div class="title" title="替屍鬼2：詛咒再臨">
                            替屍鬼2：詛咒再臨
                        </div>
                        <div class="en" title="Muoi: The Curse Returns">
                            Muoi: The Curse Returns
                        </div>
                        <div class="grade">
                            輔12級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=a974756e32264710b5b6c8f98200f650&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fhkr22048600_0005.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-07</span>
                        </div>
                        <div class="title" title="政客誠實中2">
                            政客誠實中2
                        </div>
                        <div class="en" title="Honest Candidate 2">
                            Honest Candidate 2
                        </div>
                        <div class="grade">
                            輔12級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=b35367709315429c8973d68bd57757b5&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_ften47322224_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-07</span>
                        </div>
                        <div class="title" title="瘋狂富作用">
                            瘋狂富作用
                        </div>
                        <div class="en" title="Triangle of Sadness">
                            Triangle of Sadness
                        </div>
                        <div class="grade">
                            輔12級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=5aa3da8486874f8ba1bddf4dc76c57cc&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fqen40110963_0004.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="瑪歌皇后">
                            瑪歌皇后
                        </div>
                        <div class="en" title="Queen Margot">
                            Queen Margot
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=71ceda32e2c54992a066dda23334e099&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fben49853500_0002.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="天劫高手">
                            天劫高手
                        </div>
                        <div class="en" title="Bandit">
                            Bandit
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=8e64ef2c838740f18b74713a1f9aac27&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fafr15115102_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="真實世界">
                            真實世界
                        </div>
                        <div class="en" title="Another World">
                            Another World
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=95b875adb0bb44488e789bf553618fa9&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fajp15327548_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="極速甩尾">
                            極速甩尾
                        </div>
                        <div class="en" title="Alivehoon">
                            Alivehoon
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=b148812240394b5cba654469e0919eca&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_frjp15181216_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="河畔小日子">
                            河畔小日子
                        </div>
                        <div class="en" title="Riverside Mukolitta">
                            Riverside Mukolitta
                        </div>
                        <div class="grade">
                            保護級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=b3a28595326847609f7ca38ed310f625&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fsch11090178_0002.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="野馬分鬃">
                            野馬分鬃
                        </div>
                        <div class="en" title="Striding Into the Wind">
                            Striding Into the Wind
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=c31eb0d6f0914edf9d181999b6bbeb4b&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fltw41456580_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="孫行者傳">
                            孫行者傳
                        </div>
                        <div class="en" title="LEGEND OF SUN WALKER">
                            LEGEND OF SUN WALKER
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=ca7da5c0aee944719b9fad5d04d73869&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fljp35699719_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="戀之光">
                            戀之光
                        </div>
                        <div class="en" title="Love is Light">
                            Love is Light
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=e17db3b1ea6042cc94e1ff74fc324552&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fhen10665342_0005.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="月光光新慌慌：萬聖結">
                            月光光新慌慌：萬聖結
                        </div>
                        <div class="en" title="Halloween Ends">
                            Halloween Ends
                        </div>
                        <div class="grade">
                            限制級
                        </div>
                    </div>
                </a>
                <div class="page">
                    <div class="commonStyled__ChangePagesWrapper-sc-kt5vy-7 ffVUQI">
                        <div class="circle">
                            <a href="@Url.Action("即將上映page1", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon0.svg"> </a>

                        </div>
                        <div class="circle">
                            <a href="@Url.Action("即將上映page1", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon1.svg"> </a>
                        </div>
                        <div class="circle numIndex">
                            @Html.ActionLink("1", "即將上映page1", "Theater", null, new { @class = "my-no" })
                        </div>
                        <div class="circle numIndex add">
                            2

                        </div>
                        <div class="circle numIndex">
                            @Html.ActionLink("3", "即將上映page3", "Theater", null, new { @class = "my-no" })
                        </div>

                        <div class="circle">

                            <a href="@Url.Action("即將上映page3", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon.svg"></a>

                        </div>
                        <div class="circle">
                            <a href="@Url.Action("即將上映page3", "Theater")" class="my-no"><img src="~/images/Theater/common/caret-up.svg"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> @*footer樣式*@

</body>