
@{
    ViewData["Title"] = "即將上映page3";
}


<head>

    <link href="~/css/Theater/電影院用改.css" rel="stylesheet" />
    <style>
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }

        a.my-no {
            color: rgb(180, 180, 180);
        }

            a .my-no:active {
                color: rgb(180, 180, 180);
            }

            a.my-no:link {
                color: rgb(180, 180, 180);
            }

            a.my-no:visited {
                color: rgb(180, 180, 180);
            }
    </style>
</head>

<body>

    <div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoContentWrapper--1tebbv1 exLSHN iyFFWC">
        <div class="wrapper">
            <div class="tab">
                @Html.ActionLink("現正熱映", "Index", "Theater", null, new { @class = "my-class" })
            </div>
            <div class="tab checked">
                @Html.ActionLink("即將上映", "即將上映page1", "Theater", null, new { @class = "my-class" })

            </div>
            <div class="underline">
                <div class="bar"></div>
            </div>
        </div>
        <div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoBoxWrapper--13nahzv exLSHN bYVeqc">
            <div class="box-wrapper">
                <a href="/movieInfo?movieid=71ceda32e2c54992a066dda23334e099&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fben49853500_0002.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="天劫高手">
                            天劫高手
                        </div>
                        <div class="en" title="Bandit">
                            Bandit
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=c31eb0d6f0914edf9d181999b6bbeb4b&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fltw41456580_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="孫行者傳">
                            孫行者傳
                        </div>
                        <div class="en" title="LEGEND OF SUN WALKER">
                            LEGEND OF SUN WALKER
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=ca7da5c0aee944719b9fad5d04d73869&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fljp35699719_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="戀之光">
                            戀之光
                        </div>
                        <div class="en" title="Love is Light">
                            Love is Light
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=e17db3b1ea6042cc94e1ff74fc324552&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fhen10665342_0005.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-14</span>
                        </div>
                        <div class="title" title="月光光新慌慌：萬聖結">
                            月光光新慌慌：萬聖結
                        </div>
                        <div class="en" title="Halloween Ends">
                            Halloween Ends
                        </div>
                        <div class="grade">
                            限制級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=84eeb4e331f949df8005b5bede9c8cb6&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fben36443346_0006.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-19</span>
                        </div>
                        <div class="title" title="黑亞當">
                            黑亞當
                        </div>
                        <div class="en" title="Black Adam">
                            Black Adam
                        </div>
                        <div class="grade">
                            輔12級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=52889bf2248643e59de73de4fb494e2d&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fyjp18750342_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="救救旱鴨子">
                            救救旱鴨子
                        </div>
                        <div class="en" title="Yes, I Can't Swim">
                            Yes, I Can't Swim
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=92ded2366ea1477fb4a0a5cb2394a8c4&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fmjp91566528_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="劇場版超時空要塞F~戀離飛翼">
                            劇場版超時空要塞F~戀離飛翼
                        </div>
                        <div class="en" title="Macross Frontier: The Wings of Farewell">
                            Macross Frontier: The Wings of Farewell
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=c6e62ca6deaa4733998ae1b430f8fe37&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fkjp10540510_0002.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="犬王">
                            犬王
                        </div>
                        <div class="en" title="King Dog">
                            King Dog
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=d2d32316a1c24ad0af505d5aeb3e6c4e&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fcru13322726_0004.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="大尉叛逃記">
                            大尉叛逃記
                        </div>
                        <div class="en" title="Captain Volkonogov Escaped">
                            Captain Volkonogov Escaped
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=d82d54d47db3404a9c20c553ed3f2d90&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_ffen14577304_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="終極堡壘2">
                            終極堡壘2
                        </div>
                        <div class="en" title="Fortress 2">
                            Fortress 2
                        </div>
                        <div class="grade">
                            輔15級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=efa9cbbee902471b8eda0786058914df&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_ffcn15740800_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="幻日手記">
                            幻日手記
                        </div>
                        <div class="en" title="Far Away Eyes">
                            Far Away Eyes
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a><a href="/movieInfo?movieid=f88bbc29bd444a4d9c2ae52beb46c043&amp;tab=0">
                    <div class="post-box">
                        <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fktw96630084_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                        <div class="coming">
                            上映日期<span>2022-10-21</span>
                        </div>
                        <div class="title" title="大俠胡金銓第一部曲：先知曾經來過">
                            大俠胡金銓第一部曲：先知曾經來過
                        </div>
                        <div class="en" title="The King of Wuxia Part 1 : The Prophet Was Once Here">
                            The King of Wuxia Part 1 : The Prophet Was Once Here
                        </div>
                        <div class="grade">
                            普遍級
                        </div>
                    </div>
                </a>
                <div class="page">
                    <div class="commonStyled__ChangePagesWrapper-sc-kt5vy-7 ffVUQI">
                        <div class="circle">
                            <a href="@Url.Action("即將上映page1", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon0.svg"> </a>
                        </div>
                        <div class="circle">
                            <a href="@Url.Action("即將上映page2", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon1.svg"> </a>
                        </div>
                        <div class="circle numIndex">
                            @Html.ActionLink("1", "即將上映page1", "Theater", null, new { @class = "my-no" })
                        </div>
                        <div class="circle numIndex ">
                            @Html.ActionLink("2", "即將上映page2", "Theater", null, new { @class = "my-no" })

                        </div>
                        <div class="circle numIndex add">
                            3
                        </div>
                        <div class="circle nowIndex1"><img src="Static/common/changepage-icon.svg"></div>
                        <div class="circle nowIndex1"><img src="Static/common/caret-up.svg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> @*footer樣式*@

</body>