
@{
    ViewData["Title"] = "即將上映page1";
}

<head>
    <link href="~/css/Theater/電影院用改.css" rel="stylesheet" />
    <style>
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }

        a.my-no {
            color: rgb(180, 180, 180);
        }

            a .my-no:active {
                color: rgb(180, 180, 180);
            }

            a.my-no:link {
                color: rgb(180, 180, 180);
            }

            a.my-no:visited {
                color: rgb(180, 180, 180);
            }
    </style>
</head>
<div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoContentWrapper--1tebbv1 exLSHN iyFFWC">
    <div class="wrapper">
        <div class="tab">
            @Html.ActionLink("現正熱映", "Index", "Theater", null, new { @class = "my-class" })
        </div>
        <div class="tab checked">
            即將上映
        </div>
        <div class="underline">
            <div class="bar"></div>
        </div>
    </div>
    <div class="commonStyled__WrapperSampleNoContent-sc-kt5vy-9 MovieInfoBoxWrapper--13nahzv exLSHN bYVeqc">
        <div class="box-wrapper">
            <a href="@Url.Action("阮玲玉", "Theater")">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fcatm0873074_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="阮玲玉">
                        阮玲玉
                    </div>
                    <div class="en" title="Ruan Ling Yu">
                        Ruan Ling Yu
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=3d52c7135ff24d0aa2ad0147f5ee6433&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fves13241688_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-10-07</span>
                    </div>
                    <div class="title" title="玩命光頭">
                        玩命光頭
                    </div>
                    <div class="en" title="Very Bald trip">
                        Very Bald trip
                    </div>
                    <div class="grade">
                        輔15級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=0d95f39180e848e5a9a6d3479a691047&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fakr21800888_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="樂透大作戰">
                        樂透大作戰
                    </div>
                    <div class="en" title="6/45">
                        6/45
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=5c01385b28174be6acc7c0b480def678&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fbjp17510216_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="Ｎ号棟鬧鬼">
                        Ｎ号棟鬧鬼
                    </div>
                    <div class="en" title="BLDG. N">
                        BLDG. N
                    </div>
                    <div class="grade">
                        輔15級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=6186e26e9d5441bba89541710baaa5b9&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fcatm0894037_0006.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="臥虎藏龍">
                        臥虎藏龍
                    </div>
                    <div class="en" title="Crouching Tiger, Hidden Dragon">
                        Crouching Tiger, Hidden Dragon
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=6c3314b5d7934c738f8c3a775cda14ee&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fsen15751968_0007.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="微笑">
                        微笑
                    </div>
                    <div class="en" title="Smile">
                        Smile
                    </div>
                    <div class="grade">
                        限制級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=745056727ec54634a76ef2176c18fd92&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fhfr13880104_0002.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="正發生">
                        正發生
                    </div>
                    <div class="en" title="Happening">
                        Happening
                    </div>
                    <div class="grade">
                        限制級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=75ede2ff98fc4b638575bf12e67b6d10&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fkfr14073780_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="小獅子王">
                        小獅子王
                    </div>
                    <div class="en" title="King(2022)">
                        King(2022)
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=a3ca8f01daaa4ca097a428d40dddfce5&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fben44428398_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="刀鋒劍客">
                        刀鋒劍客
                    </div>
                    <div class="en" title="Paws of Fury: The Legend of Hank">
                        Paws of Fury: The Legend of Hank
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=aa26c11efeb5471b86d5e06f1e8a9e96&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_frcn37711672_0002.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="兜兜風">
                        兜兜風
                    </div>
                    <div class="en" title="Raydio">
                        Raydio
                    </div>
                    <div class="grade">
                        保護級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=ca3e928e7e2044a38376eb6dedf2b320&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fpkr15575470_0009.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="行動代號：狼狩獵">
                        行動代號：狼狩獵
                    </div>
                    <div class="en" title="Project Wolf Hunting">
                        Project Wolf Hunting
                    </div>
                    <div class="grade">
                        限制級
                    </div>
                </div>
            </a><a href="/movieInfo?movieid=f2baa1f40c0e48159076a117fa8b93fd&amp;tab=0">
                <div class="post-box">
                    <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fphk39704479_0001.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                    <div class="coming">
                        上映日期<span>2022-09-30</span>
                    </div>
                    <div class="title" title="心裏美">
                        心裏美
                    </div>
                    <div class="en" title="Pretty Heart">
                        Pretty Heart
                    </div>
                    <div class="grade">
                        普遍級
                    </div>
                </div>
            </a>
            <div class="page">
                <div class="commonStyled__ChangePagesWrapper-sc-kt5vy-7 ffVUQI">
                    <div class="circle nowIndex1"><img src="~/images/Theater/common/changepage-icon.svg" /></div>

                    <div class="circle nowIndex1"><img src="~/images/Theater/common/changepage-icon1.svg" /></div>
                    <div class="circle numIndex add">
                        1
                    </div>
                    <div class="circle numIndex">
                        @Html.ActionLink("2", "即將上映page2", "Theater", null, new { @class = "my-no" })

                    </div>
                    <div class="circle numIndex">
                        @Html.ActionLink("3", "即將上映page3", "Theater", null, new { @class = "my-no" })
                    </div>

                    <div class="circle">

                        <a href="@Url.Action("即將上映page2", "Theater")" class="my-no"><img src="~/images/Theater/common/changepage-icon.svg"></a>

                    </div>
                    <div class="circle">
                        <a href="@Url.Action("即將上映page3", "Theater")" class="my-no"><img src="~/images/Theater/common/caret-up.svg"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> @*footer樣式*@